{{#each tasks}}
  <div ondragstart="dragStart(event)" ondragend="dragEnd(event)" draggable="true" id="drag-target-{{@index}}">
    <div id="dragParent" class="card center">
      <div class="card-body">
        <h5 class="card-title">
          <p>{{this.name}}</p>
        </h5>
        <p id="assigned-to" class="card-text">{{this.assignee}}</p>
        <a href="#" class="btn btn-primary">View Notes</a>
      </div>
    </div>
  </div>
{{/each}}