<div id="dragParent" class="card center">
  <div class="card-body">
    <h5 class="card-title">Make Kanban</h5>
    <p id="assigned-to" class="card-text">Carson</p>
    <a href="#" class="btn btn-primary">View Notes</a>
  </div>
</div>