<nav class="container">
  <div class="row">
    <h1 style="color:#F2542D;"class="col-sm-9">Kanban</h1>
    <div class="col-sm-3">
      <ul>
        <li><button id="jeremiah" type="button" class="btn btn-info">All</button></li>
        <li><button onclick="filterSelection('jeremiah')" type="button" class="btn btn-info">Carson's</button></li>
        <li><button type="button" class="btn btn-info">Jeremiah's</button></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row kanban-board">
    <div id="to-do-column" data-name="To Do" ondrop="drop(event, this)" ondragover="allowDrop(event)" class="col sm-4">
      <h2>To Do</h2>
        {{#each tasks}}
          {{#ifEquals this.status "To Do"}}
           {{> card}}
          {{/ifEquals}}
        {{/each}}
      <div>{{> addTask}}</div>
    </div>
    <div data-name="Working"  ondragover="allowDrop(event)" ondrop="drop(event, this)" class="col-struct col sm-4">
      <h2>Working</h2>
      {{#each tasks}}
        {{#ifEquals this.status "Working"}}
          {{> card}}
        {{/ifEquals}}
      {{/each}}
    </div>
    <div data-name="Finished"  ondragover="allowDrop(event)" ondrop="drop(event, this)" class="col-struct col sm-4">
      <h2>Finished</h2>
      {{#each tasks}}
        {{#ifEquals this.status "Finished"}}
          {{> card}}
        {{/ifEquals}}
      {{/each}}
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <label style="padding-right:10px"for="task-name">Task Name: </label>
          <input id="task-name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
         <div class="input-group input-group-sm mb-3">
          <label style="padding-right:10px"for="assign-name">Assignee: </label>
          <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="Jeremiah">Jeremiah</option>
    <option value="Carson">Carson</option>
  </select>
</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="create-task-button"type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>