<nav class="container">
  <div class="row">
    <div class="col-sm-9">Kanban</div>
    <div class="col-sm-3">
      <ul>
        <li><button id="jeremiah" type="button" class="btn btn-info">All</button></li>
        <li><button onclick="filterSelection('jeremiah')" type="button" class="btn btn-info">Carson's</button></li>
        <li><button type="button" class="btn btn-info">Jeremiah's</button></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row kanban-board">
    <div ondrop="drop(event)" class="col sm-4">
      <div ondragover="allowDrop(event)">To Do</div>
      {{> card}}
      <div>{{> addTask}}</div>
    </div>
    <div ondrop="drop(event)" ondragover="allowDrop(event)" class="col sm-4 droptarget">Working</div>
    <div ondrop="drop(event)" ondragover="allowDrop(event)" class="col sm-4 droptarget">Finished</div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <label style="padding-right:10px"for="task-name">Task Name: </label>
          <input id="task-name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
         <div class="input-group input-group-sm mb-3">
          <label style="padding-right:10px"for="assign-name">Assignee: </label>
          <input id="assign-name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="create-task-button"type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>