body{
    background-color: #127475;
}

li{
    display: inline;
    list-style: none;
}

.center{
    align-content:center;
}

.kanban-board{
    text-align: center;
    border-radius: 10px;
}
.kanban-board > .col{
    border: 2px solid;
    border-color: black;
}
.kanban-board > .col:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.kanban-board > .col:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#new-task{
    padding-bottom:40px;
}

#to-do-column{
    padding-bottom: 55px;
    position: relative;
    background-color: #F5DFBB;
}

.col-struct{
    background-color: #F5DFBB;
    padding-bottom: 15px;
    padding-top: 5px;
}

.add-task{
    position: absolute;
    bottom: 5px;
    right: 20%;
    left: 20%;

}
.add-task>.btn{
    width: 100%;

}